<!DOCTYPE html>
<html lang="en" ng-app="dartsScore">
  <head>
    <meta charset="utf-8">
    <title>Darts Score</title>
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="libs/components-font-awesome/css/font-awesome.min.css">
  </head>
  <body>

    <section ng-controller="firstCtrl">
      <div class="dartsScore">
          <div class="dartsScore_header">
            <h1 class="text-center">Darts Score</h1>
          </div>
          <div class="dartsScore_body">
            <div class="dartsScore_body__section">
              <div class="dartsScore_body__section_icon">
                <i class="fa fa-users" aria-hidden="true"></i>
              </div>
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" ng-model="player1" placeholder="Player 1">
                </div>
                <div class="col">
                  <input type="text" class="form-control" ng-model="player2" placeholder="Player 2">
                </div>
              </div>
            </div>
            <div class="dartsScore_body__section">
              <div class="dartsScore_body__section_icon">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
              </div>
              <div class="dartsScore_body__section_game_select">
                <div class="form-group">
                  <select ng-model="selectgame" ng-init="selectgame='1'" class="form-control">
                    <option value="1">101</option>
                    <option value="2">201</option>
                    <option value="3">301</option>
                    <option value="4">401</option>
                    <option value="5">501</option>
                    <option value="6">601</option>
                    <option value="7">701</option>
                    <option value="8">801</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="dartsScore_body__section">
              <div class="dartsScore_body__section_icon">
                <h2>First to</h2>
              </div>
                <div class="dartsScore_body__section_game_select">
                  <div class="form-group">
                    <select ng-model="selectrounds" ng-init="selectrounds='1'" class="form-control">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="dartsScore_footer">
                <button ng-click="submit()" class="btn btn-primary">Start</button>
              </div>
          </div>
      </div>
    </section>

    <section ng-controller="secondCtrl">
      <div ng-show="gamesettings">
        <h1>{{ myPlayer1 }}</h1>
        <h1>{{ myPlayer2 }}</h1>
        <h1>{{ selectGame }}</h1>
        <h1>{{ selectRounds }}</h1>
      </div>
    </section>

    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/dartsscore.controller.js"></script>
  </body>
</html>
