  <!DOCTYPE html>
<html lang="en" ng-app="dartsScore">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Darts Score</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/components-font-awesome/css/font-awesome.min.css">
  </head>
  <body>

    <section ng-hide="onsubmit" ng-controller="firstCtrl">
      <div class="dartsScore">
          <div class="dartsScore_header">
            <h1 class="text-center">Darts Score</h1>
          </div>
          <div class="dartsScore_body">
            <div class="dartsScore_body__section">
              <div class="dartsScore_body__section_icon">
                <i class="fa fa-users" aria-hidden="true"></i>
              </div>
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" ng-model="player1" placeholder="Player 1">
                </div>
                <div class="col">
                  <input type="text" class="form-control" ng-model="player2" placeholder="Player 2">
                </div>
              </div>
            </div>
            <div class="dartsScore_body__section">
              <div class="dartsScore_body__section_icon">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
              </div>
              <div class="dartsScore_body__section_game_select">
                <div class="form-group">
                  <select ng-model="selectgame" ng-init="selectgame='101'" class="form-control">
                    <option value="101">101</option>
                    <option value="201">201</option>
                    <option value="301">301</option>
                    <option value="401">401</option>
                    <option value="501">501</option>
                    <option value="601">601</option>
                    <option value="701">701</option>
                    <option value="801">801</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="dartsScore_body__section">
              <div class="dartsScore_body__section_icon">
                <h2>First to</h2>
              </div>
                <div class="dartsScore_body__section_game_select">
                  <div class="form-group">
                    <select ng-model="selectrounds" ng-init="selectrounds='1'" class="form-control">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="dartsScore_footer">
                <button ng-click="submit()" class="btn btn-primary">Start</button>
              </div>
          </div>
      </div>
    </section>

    <section ng-show="onsubmit" class="dartsScore" ng-controller="secondCtrl">
      <div ng-show="gamesettings">
        <div class="dartsScore_secondPage">
          <div class="player_score first_player_score " ng-class="firstPlayer" >
            <div class="wins">
              <p>Wins: {{ wins1 }}</p>
            </div>
            <p>{{ myPlayer1 }}</p>
            <h2>{{ myPlayer1Score }}</h2>
          </div>
          <div class="player_score second_player_score" ng-class="secondPlayer">
            <div class="wins">
              <p>Wins: {{ wins2 }}</p>
            </div>
            <p>{{ myPlayer2 }}</p>
            <h2>{{ myPlayer2Score }}</h2>
          </div>
        </div>

        <div class="show_score">
          <p>{{number}}</p>
        </div>

        <div class="dartsScore_secondPage_keybord">
          <div class="row">
            <div class="col-10 keybord_margin">
              <div class="row">
                <div class="col keybord_button">
                  <button ng-click="number = number + '1'">1</button>
                </div>
                <div class="col keybord_button">
                  <button ng-click="number = number + '2'">2</button>
                </div>
                <div class="col keybord_button">
                  <button ng-click="number = number + '3'">3</button>
                </div>
              </div>
              <div class="row">
                <div class="col keybord_button">
                  <button ng-click="number = number + '4'">4</button>
                </div>
                <div class="col keybord_button">
                  <button ng-click="number = number + '5'">5</button>
                </div>
                <div class="col keybord_button">
                  <button ng-click="number = number + '6'">6</button>
                </div>
              </div>
              <div class="row">
                <div class="col keybord_button">
                  <button ng-click="number = number + '7'">7</button>
                </div>
                <div class="col keybord_button">
                  <button ng-click="number = number + '8'">8</button>
                </div>
                <div class="col keybord_button">
                  <button ng-click="number = number + '9'">9</button>
                </div>
              </div>
              <div class="row">
                <div class="col keybord_button">
                  <button></button>
                </div>
                <div class="col keybord_button">
                  <button ng-click="number = number + '0'">0</button>
                </div>
                <div class="col keybord_button">
                  <button ng-click="goToMenu()" >MENU</button>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="col keybord_button delete_button">
                <button ng-click="deleteNumber()">DEL</button>
              </div>
              <div class="col keybord_button done_button">
                <button ng-click="claculateScore()">DONE</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/angular-animate/angular-animate.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/dartsscore.controller.js"></script>
  </body>
</html>
